body {
    display: inline-block;
    margin: 10px 25px;
    text-align: center;
    background-color: #48D1CC;
}

li{
	text-align: left;
}

.title{
	background-color: #FF7F50;
	margin: 15px 15px;
	padding: 15px 15px;
}

.h2title{
	background-color: #FFDEAD;
	margin: 25px 25px;
	padding: 5px 5px;
}

pre{
  text-align:left;
  margin: 5px 20px;
  padding: 0 10px;
}

align-left{
	text-align: left;
}

.remove-bullet{
	list-style: none;
}

.postform{
	text-align: left;
	padding: 35px;
}
label{
	width: 100px;
}
button{
	margin-left: 100px;
}